In [1]:
import pandas as pd

In [ ]:
#Arquivos disponíveis em: https://imdb.com/interfaces/

In [2]:
imdb_general = pd.read_csv('title.akas.tsv', sep='\t', low_memory=False)
imdb_basics = pd.read_csv('title.basics.tsv', sep='\t', low_memory=False)
imdb_ratings = pd.read_csv('title.ratings.tsv', sep='\t', low_memory=False)
imdb_names = pd.read_csv('name.basics.tsv', sep='\t', low_memory=False)
imdb_crew = pd.read_csv('title.crew.tsv', sep='\t', low_memory=False)

In [3]:
imdb_general.head(2)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0

In [4]:
imdb_basics.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"

In [5]:
imdb_ratings.head(2)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1885
1  tt0000002            5.9       250

In [6]:
imdb_names.head(2)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0031983,tt0053137,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0071877,tt0038355,tt0117057"

In [7]:
imdb_crew.head(2)

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N

In [8]:
imdb_brasil = imdb_general.query("region == 'BR'")

In [9]:
imdb_brasil = imdb_brasil.rename({'titleId': 'tconst'}, axis=1)

In [10]:
imdb_brasil_basics = imdb_brasil.merge(imdb_basics, on='tconst', how='inner')

In [11]:
imdb_brasil_basics_ratings = imdb_brasil_basics.merge(imdb_ratings, on='tconst', how='inner')

In [12]:
imdb_names = imdb_names.rename({'nconst': 'directors'}, axis=1)

In [13]:
imdb_directors = imdb_names.merge(imdb_crew, on='directors', how='inner')

In [14]:
imdb_brasil_basics_ratings_directors = imdb_brasil_basics_ratings.merge(imdb_directors, on='tconst', how='inner')

In [15]:
imdb_brasil_basics_ratings_directors = imdb_brasil_basics_ratings_directors[['title',
                                                                             'originalTitle',
                                                                             'titleType',
                                                                             'startYear',
                                                                             'primaryName',
                                                                             'genres',
                                                                             'runtimeMinutes', 
                                                                             'averageRating',
                                                                             'numVotes']]

In [16]:
imdb_brasil_basics_ratings_directors

,title,originalTitle,titleType,startYear,primaryName,genres,runtimeMinutes,averageRating,numVotes
0,A Saída dos Operários da Fábrica Lumière,La sortie de l'usine Lumière à Lyon,short,1895,Louis Lumière,"Documentary,Short",1,6.9,6814
1,O Regador Regado,L'arroseur arrosé,short,1895,Louis Lumière,"Comedy,Short",1,7.1,5248
2,A Pesca do Peixe Dourado,La pêche aux poissons rouges,short,1895,Louis Lumière,"Documentary,Short",1,5.1,1017
3,O Almoço do Bebê,Repas de bébé,short,1895,Louis Lumière,"Documentary,Short",1,5.9,3219
4,A Acrobacia,La voltige,short,1895,Louis Lumière,"Comedy,Documentary,Short",1,5.5,980
...,...,...,...,...,...,...,...,...,...
69710,No Gogó do Paulinho,No Gogó do Paulinho,movie,2020,Roberto Santucci,Comedy,98,5.4,248
69711,Vida em Movimento,Vida em Movimento,movie,2019,Eduardo Rajabally,Documentary,70,7.4,5
69712,A Volta para Casa,A Volta para Casa,short,2019,Diego Freitas,"Drama,Short",17,8.2,31
69713,O Ensaio,O Ensaio,movie,2019,Tamar Guimaraes,Drama,51,6.7,6
69714,Silenciadas,Akelarre,movie,2020,Pablo Agüero,"Drama,History",92,6.4,4691

In [17]:
imdb_brasil_movies = imdb_brasil_basics_ratings_directors.query('titleType == "movie"')

In [18]:
imdb_brasil_good_movies = imdb_brasil_movies.query("averageRating > 6.9")

In [19]:
imdb_brasil_good_movies_votes = imdb_brasil_good_movies.query('numVotes > 999')

In [20]:
imdb_brasil_good_movies_votes

,title,originalTitle,titleType,startYear,primaryName,genres,runtimeMinutes,averageRating,numVotes
158,Os Vampiros,Les vampires,movie,1915,Louis Feuillade,"Action,Adventure,Crime",421,7.3,4765
176,Intolerância,Intolerance: Love's Struggle Throughout the Ages,movie,1916,D.W. Griffith,"Drama,History",163,7.7,15414
216,O Fora-da-lei e Sua Mulher,Berg-Ejvind och hans hustru,movie,1918,Victor Sjöström,Drama,136,7.2,1873
238,Diferente dos Outros,Anders als die Andern,movie,1919,Richard Oswald,"Crime,Drama,History",50,7.0,1302
239,A Princesa das Ostras,Die Austernprinzessin,movie,1919,Ernst Lubitsch,Comedy,60,7.2,1954
...,...,...,...,...,...,...,...,...,...
69628,Perdi Meu Corpo,J'ai perdu mon corps,movie,2019,Jérémy Clapin,"Animation,Drama,Fantasy",81,7.5,32153
69636,Esperança,Håp,movie,2019,Maria Sødahl,"Drama,Romance",125,7.3,1749
69637,Ficaremos Bem,Håp,movie,2019,Maria Sødahl,"Drama,Romance",125,7.3,1749
69665,Nós duas,Deux,movie,2019,Filippo Meneghetti,"Drama,Romance",99,7.2,2743
69675,The Bee Gees: How Can You Mend a Broken Heart,The Bee Gees: How Can You Mend a Broken Heart,movie,2020,Frank Marshall,"Biography,Documentary,Music",111,8.1,4612

In [21]:
imdb_brasil_limpeza = imdb_brasil_good_movies_votes[~imdb_brasil_good_movies_votes.runtimeMinutes.str.contains('N')]

In [22]:
imdb_brasil_limpeza.drop_duplicates(subset ="originalTitle",
                     keep = 'first', inplace = True)

In [23]:
imdb_brasil_limpeza

,title,originalTitle,titleType,startYear,primaryName,genres,runtimeMinutes,averageRating,numVotes
158,Os Vampiros,Les vampires,movie,1915,Louis Feuillade,"Action,Adventure,Crime",421,7.3,4765
176,Intolerância,Intolerance: Love's Struggle Throughout the Ages,movie,1916,D.W. Griffith,"Drama,History",163,7.7,15414
216,O Fora-da-lei e Sua Mulher,Berg-Ejvind och hans hustru,movie,1918,Victor Sjöström,Drama,136,7.2,1873
238,Diferente dos Outros,Anders als die Andern,movie,1919,Richard Oswald,"Crime,Drama,History",50,7.0,1302
239,A Princesa das Ostras,Die Austernprinzessin,movie,1919,Ernst Lubitsch,Comedy,60,7.2,1954
...,...,...,...,...,...,...,...,...,...
69611,Um Loiro,Un rubio,movie,2019,Marco Berger,"Drama,Romance",108,7.3,3194
69628,Perdi Meu Corpo,J'ai perdu mon corps,movie,2019,Jérémy Clapin,"Animation,Drama,Fantasy",81,7.5,32153
69636,Esperança,Håp,movie,2019,Maria Sødahl,"Drama,Romance",125,7.3,1749
69665,Nós duas,Deux,movie,2019,Filippo Meneghetti,"Drama,Romance",99,7.2,2743
69675,The Bee Gees: How Can You Mend a Broken Heart,The Bee Gees: How Can You Mend a Broken Heart,movie,2020,Frank Marshall,"Biography,Documentary,Music",111,8.1,4612

In [24]:
imdb_brasil_limpeza.reset_index(drop=True)

,title,originalTitle,titleType,startYear,primaryName,genres,runtimeMinutes,averageRating,numVotes
0,Os Vampiros,Les vampires,movie,1915,Louis Feuillade,"Action,Adventure,Crime",421,7.3,4765
1,Intolerância,Intolerance: Love's Struggle Throughout the Ages,movie,1916,D.W. Griffith,"Drama,History",163,7.7,15414
2,O Fora-da-lei e Sua Mulher,Berg-Ejvind och hans hustru,movie,1918,Victor Sjöström,Drama,136,7.2,1873
3,Diferente dos Outros,Anders als die Andern,movie,1919,Richard Oswald,"Crime,Drama,History",50,7.0,1302
4,A Princesa das Ostras,Die Austernprinzessin,movie,1919,Ernst Lubitsch,Comedy,60,7.2,1954
...,...,...,...,...,...,...,...,...,...
6782,Um Loiro,Un rubio,movie,2019,Marco Berger,"Drama,Romance",108,7.3,3194
6783,Perdi Meu Corpo,J'ai perdu mon corps,movie,2019,Jérémy Clapin,"Animation,Drama,Fantasy",81,7.5,32153
6784,Esperança,Håp,movie,2019,Maria Sødahl,"Drama,Romance",125,7.3,1749
6785,Nós duas,Deux,movie,2019,Filippo Meneghetti,"Drama,Romance",99,7.2,2743
6786,The Bee Gees: How Can You Mend a Broken Heart,The Bee Gees: How Can You Mend a Broken Heart,movie,2020,Frank Marshall,"Biography,Documentary,Music",111,8.1,4612

In [25]:
imdb_brasil_limpeza[["genre", "genre1", "genre2"]] = imdb_brasil_limpeza["genres"].str.split(pat=",", expand=True)

In [26]:
imdb_brasil_limpeza

,title,originalTitle,titleType,startYear,primaryName,genres,runtimeMinutes,averageRating,numVotes,genre,genre1,genre2
158,Os Vampiros,Les vampires,movie,1915,Louis Feuillade,"Action,Adventure,Crime",421,7.3,4765,Action,Adventure,Crime
176,Intolerância,Intolerance: Love's Struggle Throughout the Ages,movie,1916,D.W. Griffith,"Drama,History",163,7.7,15414,Drama,History,None
216,O Fora-da-lei e Sua Mulher,Berg-Ejvind och hans hustru,movie,1918,Victor Sjöström,Drama,136,7.2,1873,Drama,None,None
238,Diferente dos Outros,Anders als die Andern,movie,1919,Richard Oswald,"Crime,Drama,History",50,7.0,1302,Crime,Drama,History
239,A Princesa das Ostras,Die Austernprinzessin,movie,1919,Ernst Lubitsch,Comedy,60,7.2,1954,Comedy,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
69611,Um Loiro,Un rubio,movie,2019,Marco Berger,"Drama,Romance",108,7.3,3194,Drama,Romance,None
69628,Perdi Meu Corpo,J'ai perdu mon corps,movie,2019,Jérémy Clapin,"Animation,Drama,Fantasy",81,7.5,32153,Animation,Drama,Fantasy
69636,Esperança,Håp,movie,2019,Maria Sødahl,"Drama,Romance",125,7.3,1749,Drama,Romance,None
69665,Nós duas,Deux,movie,2019,Filippo Meneghetti,"Drama,Romance",99,7.2,2743,Drama,Romance,None
69675,The Bee Gees: How Can You Mend a Broken Heart,The Bee Gees: How Can You Mend a Broken Heart,movie,2020,Frank Marshall,"Biography,Documentary,Music",111,8.1,4612,Biography,Documentary,Music

In [27]:
imdb_brasil_limpeza["genre"].value_counts()

Drama          2314
Comedy         1408
Action          833
Crime           696
Biography       588
Adventure       406
Documentary     272
Animation        77
Horror           65
Mystery          31
Western          31
Fantasy          17
Romance          14
Thriller         10
Film-Noir         8
Musical           6
Sci-Fi            4
Music             3
History           2
Family            1
War               1
Name: genre, dtype: int64

In [28]:
imdb_brasil_limpeza.query("genre == 'Family'")

,title,originalTitle,titleType,startYear,primaryName,genres,runtimeMinutes,averageRating,numVotes,genre,genre1,genre2
19522,A Fantástica Fábrica de Chocolate,Willy Wonka & the Chocolate Factory,movie,1971,Mel Stuart,"Family,Fantasy,Musical",100,7.8,197271,Family,Fantasy,Musical

In [29]:
imdb_brasil_limpeza.query("genre == 'War'")

,title,originalTitle,titleType,startYear,primaryName,genres,runtimeMinutes,averageRating,numVotes,genre,genre1,genre2
16404,317ª Seção - Batalhão de Assalto,La 317ème section,movie,1965,Pierre Schoendoerffer,War,100,7.3,1411,War,None,None

In [30]:
imdb_brasil_limpeza.query("genre == 'History'")

,title,originalTitle,titleType,startYear,primaryName,genres,runtimeMinutes,averageRating,numVotes,genre,genre1,genre2
469,O Cavalo de Ferro,The Iron Horse,movie,1924,John Ford,"History,Romance,Western",150,7.2,2183,History,Romance,Western
23744,O Baile,Le bal,movie,1983,Ettore Scola,"History,Musical",112,7.7,2777,History,Musical,None

In [31]:
imdb_brasil_limpeza.query("genre == 'Music'")

,title,originalTitle,titleType,startYear,primaryName,genres,runtimeMinutes,averageRating,numVotes,genre,genre1,genre2
30261,Caravana Cigana,Latcho Drom,movie,1993,Tony Gatlif,Music,103,8.1,2008,Music,None,None
50369,Metallica S&M2,Metallica & San Francisco Symphony - S&M2,movie,2019,Wayne Isham,Music,150,8.6,1442,Music,None,None
65207,The Transcendents,The Transcendents,movie,2018,Derek Ahonen,"Music,Mystery,Thriller",96,8.2,3586,Music,Mystery,Thriller

In [32]:
imdb_brasil_limpeza.query("genre == 'Sci-Fi'")

,title,originalTitle,titleType,startYear,primaryName,genres,runtimeMinutes,averageRating,numVotes,genre,genre1,genre2
495,Paris Adormecida,Paris qui dort,movie,1925,René Clair,Sci-Fi,59,7.1,1757,Sci-Fi,None,None
17148,O Segundo Rosto,Seconds,movie,1966,John Frankenheimer,"Sci-Fi,Thriller",106,7.6,19693,Sci-Fi,Thriller,None
18307,Colossus 1980,Colossus: The Forbin Project,movie,1970,Joseph Sargent,"Sci-Fi,Thriller",100,7.1,8960,Sci-Fi,Thriller,None
52135,Sem Limites,Limitless,movie,2011,Neil Burger,"Sci-Fi,Thriller",105,7.4,562968,Sci-Fi,Thriller,None

In [35]:
imdb_brasil_limpeza.loc[19522, 'genre'] = 'Fantasy' #Muda "A Fantástica Fábrica de Chocolate" para Fantasia
imdb_brasil_limpeza.loc[16404, 'genre'] = 'Drama'  #Muda "317ª Seção - Batalhão de Assalto" para Drama
imdb_brasil_limpeza.loc[469, 'genre'] = 'Romance'  #Muda "O Cavalo de Ferro" para Romance
imdb_brasil_limpeza.loc[23744, 'genre'] = 'Musical'  #Muda "O Baile" para Musical
imdb_brasil_limpeza.loc[30261, 'genre'] = 'Documentary'  #Muda "Caravana Cigana" para Documentário
imdb_brasil_limpeza.loc[50369, 'genre'] = 'Musical'  #Muda "Metallica S&M2" para Musical
imdb_brasil_limpeza.loc[65207, 'genre'] = 'Mystery'  #Muda "The Transcendents" para Mistério
imdb_brasil_limpeza.loc[495, 'genre'] = 'Comedy'  #Muda "Paris Adormecida" para Comédia
imdb_brasil_limpeza.loc[17148, 'genre'] = 'Thriller'  #Muda "O Segundo Rosto" para Thriller
imdb_brasil_limpeza.loc[18307, 'genre'] = 'Thriller'  #Muda "Colossus 1980" para Thriller
imdb_brasil_limpeza.loc[52135, 'genre'] = 'Thriller'  #Muda "Sem Limites" para Thriller

In [36]:
imdb_brasil_limpeza["genre"].value_counts()

Drama          2315
Comedy         1409
Action          833
Crime           696
Biography       588
Adventure       406
Documentary     273
Animation        77
Horror           65
Mystery          32
Western          31
Fantasy          18
Romance          15
Thriller         13
Musical           8
Film-Noir         8
Name: genre, dtype: int64

In [37]:
imdb_brasil_selecao = imdb_brasil_limpeza[['title',
                                         'originalTitle',
                                         'primaryName',
                                         'startYear',
                                         'genre',
                                         'runtimeMinutes', 
                                         'averageRating']]

In [38]:
imdb_brasil_selecao

,title,originalTitle,primaryName,startYear,genre,runtimeMinutes,averageRating
158,Os Vampiros,Les vampires,Louis Feuillade,1915,Action,421,7.3
176,Intolerância,Intolerance: Love's Struggle Throughout the Ages,D.W. Griffith,1916,Drama,163,7.7
216,O Fora-da-lei e Sua Mulher,Berg-Ejvind och hans hustru,Victor Sjöström,1918,Drama,136,7.2
238,Diferente dos Outros,Anders als die Andern,Richard Oswald,1919,Crime,50,7.0
239,A Princesa das Ostras,Die Austernprinzessin,Ernst Lubitsch,1919,Comedy,60,7.2
...,...,...,...,...,...,...,...
69611,Um Loiro,Un rubio,Marco Berger,2019,Drama,108,7.3
69628,Perdi Meu Corpo,J'ai perdu mon corps,Jérémy Clapin,2019,Animation,81,7.5
69636,Esperança,Håp,Maria Sødahl,2019,Drama,125,7.3
69665,Nós duas,Deux,Filippo Meneghetti,2019,Drama,99,7.2
69675,The Bee Gees: How Can You Mend a Broken Heart,The Bee Gees: How Can You Mend a Broken Heart,Frank Marshall,2020,Biography,111,8.1

In [39]:
imdb_brasil_selecao['genre'].unique()

array(['Action', 'Drama', 'Crime', 'Comedy', 'Horror', 'Adventure',
       'Documentary', 'Fantasy', 'Romance', 'Biography', 'Mystery',
       'Western', 'Musical', 'Film-Noir', 'Thriller', 'Animation'],
      dtype=object)

In [40]:
imdb_brasil_selecao = imdb_brasil_selecao.replace({'genre' : {'Animation':'Animação',
                                                             'Action':'Ação',
                                                             'Biography':'Biografia',
                                                             'Adventure':'Aventura',
                                                             'Documentary':'Documentário',
                                                             'Comedy':'Comédia',
                                                             'Mystery':'Mistério',
                                                             'Fantasy':'Fantasia',
                                                             'Film-Noir':'Noir',
                                                             'History':'História',}})

In [41]:
imdb_brasil_selecao['genre'].unique()

array(['Ação', 'Drama', 'Crime', 'Comédia', 'Horror', 'Aventura',
       'Documentário', 'Fantasia', 'Romance', 'Biografia', 'Mistério',
       'Western', 'Musical', 'Noir', 'Thriller', 'Animação'], dtype=object)

In [42]:
imdb_brasil_selecao_nota = imdb_brasil_selecao.sort_values(by=['averageRating'], ascending=False)

In [43]:
imdb_brasil_selecao_nota.reset_index(drop=True)

,title,originalTitle,primaryName,startYear,genre,runtimeMinutes,averageRating
0,Um Sonho de Liberdade,The Shawshank Redemption,Frank Darabont,1994,Drama,142,9.3
1,O Poderoso Chefão,The Godfather,Francis Ford Coppola,1972,Crime,175,9.2
2,O Poderoso Chefão: Parte 2,The Godfather Part II,Francis Ford Coppola,1974,Crime,202,9.0
3,Praana,Praana,V.K. Prakash,2019,Crime,107,9.0
4,O Senhor dos Anéis: O Retorno do Rei,The Lord of the Rings: The Return of the King,Peter Jackson,2003,Ação,201,9.0
...,...,...,...,...,...,...,...
6782,Dada em Penhor,Little Miss Marker,Alexander Hall,1934,Aventura,80,7.0
6783,Viagem ao Centro da Terra,Journey to the Center of the Earth,Henry Levin,1959,Aventura,129,7.0
6784,Oscar e Wilder: Um Amor Improvável,Closet Monster,Stephen Dunn,2015,Drama,90,7.0
6785,Assassinato Sob Custódia,A Dry White Season,Euzhan Palcy,1989,Drama,106,7.0
6786,Loving: Uma História de Amor,Loving,Jeff Nichols,2016,Biografia,123,7.0

In [44]:
imdb_brasil_selecao_nota.dtypes

title              object
originalTitle      object
primaryName        object
startYear          object
genre              object
runtimeMinutes     object
averageRating     float64
dtype: object

In [45]:
imdb_brasil_selecao_nota.runtimeMinutes = imdb_brasil_selecao_nota.runtimeMinutes.astype(int)

In [46]:
imdb_brasil_selecao_nota = imdb_brasil_selecao_nota.rename({'primaryName': 'director'}, axis=1)
imdb_brasil_selecao_nota = imdb_brasil_selecao_nota.rename({'startYear': 'year'}, axis=1)

In [47]:
imdb_brasil_selecao_nota.query("title == 'Cidade dos Sonhos'")

,title,originalTitle,director,year,genre,runtimeMinutes,averageRating
36440,Cidade dos Sonhos,Mulholland Dr.,David Lynch,2001,Drama,147,7.9

In [48]:
imdb_brasil_selecao_nota.to_csv("imdb_dataset.csv", index=False)